@import url("https://fonts.googleapis.com/css2?family=Poppins | Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
  min-width: fit-content;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input[type="button"] {
  outline: none !important;
}

button::selection {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

:root {
  --vp: 0.052vw;
  --vm: 0.278vw;
}
